@model List<TaskManager.DataAccessLayer.Models.Task>
@{
    ViewBag.Title = "Планировщик задач";
}

<!DOCTYPE html>

<input type="button" class="btn btn-primary btn-lg btn-block" value="Добавить новую задачу" style="margin-top: 10px" onclick="location.href='@Url.Action("TaskForm", "Home")'" />
<table class="table table-hover">  
    <caption>
        <h1>Список задач</h1></caption>
    <thead>
    <tr>
        <th>Дата создания</th>
        <th>Дата дедлайна</th>
        <th>Описание</th>
        <th>Приоритет</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.CreatedDate.ToString("dd.MM.yyyy")</td>
            <td>@c.Deadline.ToString("dd.MM.yyyy")</td>
            <td>@c.Description</td>
            <td>@c.Priority</td>
            <td><a href="@Url.Action("TaskForm", "Home", new {id = c.Id})" class="btn btn-primary" role="button">Редактировать задачу</a></td>
            <td><a href="@Url.Action("DeleteTask", "Home", new {id = c.Id})" class="btn btn-danger" role="button">Удалить задачу</a></td>
        </tr>
    }
    </tbody>
</table>

